Data Types and Structures Questions

  1. What are data structures, and why are they important?
     -A data structure defines how data is arranged in memory and how operations like accessing, inserting, deleting, or updating that data can be performed efficiently.

2. Explain the difference between mutable and immutable data types with    examples?
    - Mutable objects can be changed after creation — their contents (elements or values) can be modified without changing their identity (memory address).

     Examples: list, dict, set

     - Immutable objects cannot be changed after creation — any modification creates a new object in memory.

      Examples: int, float, str, tuples, bool

3.  What are the main differences between lists and tuples in Python?
    - List: A mutable collection of ordered elements.
      Tuple: An immutable collection of ordered elements.

4. Describe how dictionaries store data ?
   - In Python, a dictionary stores data as a collection of key value pairs, allowing you to quickly find a value if you know its key.

5. Why might you use a set instead of a list in Python ?
   - You might use a set instead of a list in Python when you need to store unique items and perform fast membership tests.

6. What is a string in Python, and how is it different from a list?
  - A string in Python is a sequence of characters enclosed in quotes — either single (' ') or double (" ").
  - Strings are immutable, meaning you cannot change them after creation.

  - A list is a collection of items (which can be of any data type) enclosed in square brackets [ ].
  - Lists are mutable, meaning their contents can be changed.

7. How do tuples ensure data integrity in Python ?
   - Tuples help ensure data integrity in Python because they are immutable, meaning their contents cannot be changed once created.

8. What is a hash table, and how does it relate to dictionaries in Python ?
   - A hash table is a data structure that stores data in key value pairs and allows fast access to values based on their keys.

9. Can lists contain different data types in Python ?
   - Yes, lists in Python can contain different data types within the same list.

10. Explain why strings are immutable in Python?
    - Strings in Python are immutable, meaning once a string is created, it cannot be changed or modified.

11. What advantages do dictionaries offer over lists for certain tasks ?
   - Dictionaries in Python offer several advantages over lists for certain tasks, especially when you need fast lookups, meaningful keys, or unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list?
   - A tuple is preferable over a list when you need to store a fixed collection of data that should not change during program execution.

13. How do sets handle duplicate values in Python ?
    - The in keyword is used in Python to check for membership, but it behaves differently when used with lists and dictionaries.

14. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python.

15.Can you modify the elements of a tuple? Explain why or why not?
   - No, you cannot modify the elements of a tuple in Pyth
   - Tuples are immutable data types — meaning once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case ?
    - A nested dictionary in Python is a dictionary inside another dictionary — meaning the values of one or more keys are themselves dictionaries.

17. Describe the time complexity of accessing elements in a dictionary ?
    - Accessing elements in a dictionary in Python is generally a constant-time operation, meaning its time complexity is O(1) on average.

18.  In what situations are lists preferred over dictionaries?
     - Lists are preferred over dictionaries in situations where order, sequence, or indexing of elements matters, and you don't need to associate each value with a unique key.

20. Explain the difference between a list and a dictionary in terms of data    retrieval.
   - A list retrieves data by position → good for ordered collections.
   - A dictionary retrieves data by key → good for labeled or structured data.

# *Practical Questions*

In [7]:
# 1. Write a code to create a string with your name and print it.

name = "Seema Mahalik"
print(name)

Seema Mahalik

In [8]:
# 2. Write a code to find the length of the string "Hello World".

a = "Hello World"
print(len(a))

11

In [9]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

a = "Python Programming"
first_three = a[:3]

print(first_three)

Pyt

In [10]:
# 4.Write a code to convert the string "hello" to uppercase.

a = "hello"
print(a.upper())

HELLO

In [11]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "I like apple"
print(a.replace("apple" ,"orange"))

I like orange

In [12]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it .

a =[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [15]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a = ['a', 'b', 'c', 'd']
print(a[1])

b

In [17]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [18]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100,200,300)
print(a)

(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [21]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a =(10, 20, 5, 15)
print(min(a))

5

In [22]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a = ('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [23]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.


fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [26]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a', 'b', 'c'}
print(a)

{'b', 'c', 'a'}

In [27]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [28]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [1]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [3]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
h = {1, 2, 3}
g = {2, 3, 4}
print(h.intersection(g))

{2, 3}

In [5]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Seema", "age": 30, "city": "Bhubaneswar"}
print(my_dict)

{'name': 'Seema', 'age': 30, 'city': 'Bhubaneswar'}

In [6]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [7]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [8]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [9]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [10]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "Seema", "age": 30, "city": "Bhubaneswar"}

print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

My List: [1, 2, 3, 4, 5]
My Tuple: (10, 20, 30, 40, 50)
My Dictionary: {'name': 'Seema', 'age': 30, 'city': 'Bhubaneswar'}

In [11]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 5, 32, 39, 55]

In [12]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [13]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [14]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry', 'date'}